
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #ffffff; 
}


header {
    background-color: #FFD700; 
    color: #000; 
    text-align: center;
    padding: 20px;
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #FFD700; 
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000; 
    border: 1px solid #FFD700; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #FFD700; 
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #FFD700; 
    color: #000; 
}