
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}


.header {
    background-color: #ffcc00;
    color: #000;
    text-align: center;
    padding: 30px 0;
}


.header h1 {
    font-size: 28px;
    margin: 0;
    color: #000; 
}


.header a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}


.header a:hover {
    text-decoration: underline;
    color: blue;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}


h1, h2 {
    color: #fcc900;
    font-size: 24px;
    margin: 20px 0;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


ul li {
    margin-bottom: 10px;
    text-align: center; 
}


p {
    margin: 5px 0;
    text-align: center; 
}


a {
    color: #ffcc00;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


.linkedin-icon {
    font-size: 24px; 
    color: #0077B5; 
    margin-right: 5px; 
}
.profile-image {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 20px; 
   
}
.vamobrasil {


    color: blue;
    text-decoration: none;
}


